.gradle
/local.properties
/.idea/workspace.xml
/.idea/*
*.iml
.DS_Store
/build
misc/*
app/*.apk
app/*.txt
app/src/main/res/values/com_crashlytics_export_strings.xml
app/src/main/assets/crashlytics-build.properties
captures
.*
local.properties
*.log