<?xml version="1.0" encoding="utf-8"?>
<manifest package="will.wzhihu"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SET_DEBUG_APP"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".WApplication"
        android:theme="@style/WZhiHu.Theme">
        <activity android:name=".splash.SplashActivity"
            android:theme="@style/WZhiHu.Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".main.MainActivity"/>
        <activity android:name=".detail.DtailActivity"/>
    </application>

</manifest>